{% extends 'base.html' %} {% block content %}

<div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input">Find the film</label>
        </div>
      </div>
    </div>
  </div>

<div class="input-field col s12">
    <select>
      <option value="" disabled selected>Rating out of 5</option>
      <option value="1">1 (Terrible)</option>
      <option value="2">2 (Could have been better)</option>
      <option value="3">3 (It was alright)</option>
      <option value="3">4 (It was good)</option>
      <option value="3">5 (It was amazing)</option>
    </select>
</div>
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Leave your review here</label>
        </div>
      </div>
    </form>
  </div>
    
{% endblock %}