{% extends 'layout/userbase.html' %} {% block content %}
<div class="row align-items-center my-5">
    <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/images/headers/header-11.jpg" alt="header-display">
    </div>
    <div class="col-lg-5 text-center">
        <h1 class="font-weight-light">Add A Film</h1>
        <p>Add a film to the database for people to see and to add a review to. Fill in the form below to add the film. Click the submit button and it will be added.</p>
    <div class="row text-center">
        <a class="btn btn-success col-md-6 btn-sm header-btn" href="{{url_for('viewfilms')}}">Movies</a>
        <a class="btn btn-success col-md-6 btn-sm header-btn" href="{{url_for('viewreviews')}}">Reviews</a>
        <a class="btn btn-success col-md-6 btn-sm header-btn" href="{{url_for('addreviews')}}">Add Reviews</a>
        <a class="btn btn-success col-md-6 btn-sm header-btn" href="{{url_for('editfilms')}}">Edit Films</a>
        <a class="btn btn-success col-md-6 btn-sm header-btn" href="{{url_for('deletefilms')}}">Delete Films</a>
        <a class="btn btn-success col-md-6 btn-sm header-btn" href="{{url_for('deletereviews')}}">Delete Reviews</a> 
    </div>
    </div>
</div>
{% include 'components/filmform.html' %} {% endblock %}