{% extends 'layout/base.html' %} {% block content %}
<div class="row align-items-center my-5 border-bottom">
<!--Intro--->
<div class="col-lg-5 text-spacing text-center">
        <h1 class="header-style"><strong>Submit Your Thoughts</strong></h1>
<p class="header-style">We would love to hear your feedback about a film that we have in our database. Fill in the form below and submit your thoughts.</p>
    </div>
<!--Slideshow--->
    <div class="col-lg-7">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
    {% include 'components/addreviewslide.html' %}  
    </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
</div>
 
</div>
</div>
</div>

<div class="container review-container">
      <h1 class="mb-3">Leave A Review</h1>
      <form action="/insertreview" method="POST">
          <div class="col-md-12 mb-3 review-form">
            <label for="movieName"><h4>Movie Title</h4></label>
            <select class="custom-select d-block w-100" name="movieName" id="movieName" required="">
              <option value="">Select Movie Title</option>
    {% for movie in movies %}
              <option>{{movie.title}}</option>
    {% endfor %}
            </select>
            <div class="invalid-feedback">
              Please select a movie.
            </div>
        </div>
        <div class="mb-3 review-form">
          <label for="movieReview"><h4>Review</h4></label>
          <input type="text" class="form-control" name="movieReview" id="ReviewText" placeholder="" required="">
          <div class="invalid-feedback">
            Please leave a review.
          </div>
        </div>
        <div class="mb-3 review-form">
            <label for="movieStar"></h4>Star Rating</h4></label>
            <select class="custom-select d-block w-100" name="movieStar" id="movieStar" required="">
              <option value="">Choose A Star Rating</option>
              <option>5 Stars</option>
              <option>4 Stars</option>
              <option>3 Stars</option>
              <option>2 Stars</option>
              <option>1 Stars</option>
            </select>
            <div class="invalid-feedback">
              Please select a rating.
            </div>
          </div>
        <button class="btn btn-primary btn-block" type="submit">Submit Your Review</button>
      </form>
    </div>

{% endblock %}