{% extends 'layout/base.html' %} {% block content %}
<!---Slideshow-->
<div class="w3-content w3-section contain-fluid">
  <img class="movie-header" src="/static/images/headers/header-11.jpg" alt="header-11">
  <img class="movie-header" src="/static/images/headers/header-12.jpg" alt="header-12">
  <img class="movie-header" src="/static/images/headers/header-13.jpg" alt="header-13">
  <img class="movie-header" src="/static/images/headers/header-14.jpg" alt="header-14">
  <img class="movie-header" src="/static/images/headers/header-15.jpg" alt="header-15">
</div>
<!--Intro--->
<div class="container-fluid text-spacing text-center">
        <h1 class="header-style"><strong>Submit Your Thoughts</strong></h1>
<p class="header-style">We would love to hear your feedback about a film that we have in our database. Select a movie from the dropdown and fill in the form below and submit a review. Join the other people who have reviewed movies.</p>
    </div>

<div class="container review-container">
      <form action="/reviews/insert" method="POST">
          <div class="col-md-12 mb-3 review-form text-center">
            <label for="movieName"><h4>Movie Title</h4></label>
            <select class="custom-select d-block w-100" name="movieName" id="movieName" required="">
              <option value="">Select Movie Title</option>
    {% for movie in movies %}
              <option>{{movie.title}}</option>
    {% endfor %}
            </select>
            <div class="invalid-feedback">
              Please select a movie.
            </div>
        </div>
        <div class="col-md-12 mb-3 review-form text-center">
          <label for="movieReview"><h4>Review</h4></label>
          <input type="text" class="form-control" name="movieReview" id="ReviewText" placeholder="" required="">
          <div class="invalid-feedback">
            Please leave a review.
          </div>
        </div>
        <div class="col-md-12 mb-3 review-form text-center">
            <label for="movieStar"><h4>Star Rating</h4></label>
            <select class="custom-select d-block w-100" name="movieStar" id="movieStar" required="">
              <option value="">Choose A Star Rating</option>
              <option>5 Stars</option>
              <option>4 Stars</option>
              <option>3 Stars</option>
              <option>2 Stars</option>
              <option>1 Stars</option>
            </select>
            <div class="invalid-feedback">
              Please select a rating.
            </div>
          </div>
        <button class="btn btn-primary btn-block" type="submit">Submit Your Review</button>
      </form>
    </div>

{% endblock %}