{% extends 'layout/base.html' %} {% block content %}
<!--display screen-->
<div class="col-md-12">
      <img src="static/assets/images/headers/header-4.jpg" class="card-img" alt="film-header">
    </div>
<!--Intro text-->
<div class="intro-text text-center">Watched a film recently? Leave a review below for other film lovers to see!</div>    

<!--Search feild-->
<form>
  <div class="form-group">
    <label for="five-star-form-select">Rate This Film Out of 5</label>
    <select class="form-control" id="star-rate-film">
      <option>1 Star</option>
      <option>2 Star</option>
      <option>3 Star</option>
      <option>4 Star</option>
      <option>5 Star</option>
    </select>
  </div>
</form>
<!--end of Search feild-->

 {% endblock %}