{% extends 'layout/base.html' %} {% block content %}

<div class="container review-container">
      <h4 class="mb-3">Leave A Review</h4>
      <form>
          <div class="col-md-12 mb-3 review-form">
            <label for="movieName">Movie Title</label>
            <select class="custom-select d-block w-100" name="movieName" id="movieName" required="">
              <option value="">Select Movie Title</option>
              {% for movie in movies %}
              <option>{{movie.title}}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">
              Please select a movie.
            </div>
        </div>
        <div class="mb-3 review-form">
          <label for="movieReview">Review</label>
          <input type="text" class="form-control" name="movieReview" id="ReviewText" placeholder="" required="">
          <div class="invalid-feedback">
            Please leave a review.
          </div>
        </div>
        <div class="mb-3 review-form">
            <label for="movieStar">Review</label>
            <select class="custom-select d-block w-100" name="movieStar" id="movieStar" required="">
              <option value="">Choose A Star Rating</option>
              <option>5 Stars</option>
              <option>4 Stars</option>
              <option>3 Stars</option>
              <option>2 Stars</option>
              <option>1 Stars</option>
            </select>
            <div class="invalid-feedback">
              Please select a rating.
            </div>
          </div>
        <div class="custom-control custom-checkbox text-center border-bottom">
          <input type="checkbox" class="custom-control-input" id="recommend">
          <label class="custom-control-label" name="recommend">Would you recommend to a friend?</label>
        </div>
        <button class="btn btn-primary btn-block" type="submit">Submit Your Review</button>
      </form>
    </div>
{% include 'components/about.html' %}
{% endblock %}