{% extends 'base.html' %} {% block content %}
<!--display screen-->
<div class="col-md-12">
      <img src="static/assets/images/headers/header-3.jpg" class="card-img" alt="film-header">
    </div>
<!--Search feild-->
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

<ul id="myUL">
  <li><a href="#">Adele</a></li>
  <li><a href="#">Agnes</a></li>

  <li><a href="#">Billy</a></li>
  <li><a href="#">Bob</a></li>

  <li><a href="#">Calvin</a></li>
  <li><a href="#">Christina</a></li>
  <li><a href="#">Cindy</a></li>
</ul>

<!--end of Search feild-->



<div class="input-field col s12">
    <select>
      <option value="" disabled selected>Rating out of 5</option>
      <option value="1">1 (Terrible)</option>
      <option value="2">2 (Could have been better)</option>
      <option value="3">3 (It was alright)</option>
      <option value="3">4 (It was good)</option>
      <option value="3">5 (It was amazing)</option>
    </select>
</div>
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Leave your review here</label>
        </div>
      </div>
    </form>
  </div>
  {% endblock %}