{% extends 'layout/base.html' %} {% block content %}
<div class="container-fluid">
  <img src="static/assets/images/headers/header-4.jpg" alt="Avatar" class="header-image">
  <div class="overlay">
    <div class="text">
    <i class="fas fa-film"></i>
    <h4>A reviews</h4>
    <p>Watched a film recently? Leave a review below for other film lovers to see! Fill in the form the form below and then press submit to add your review.</p>
    </div>
  </div>
</div>
<!--Search feild-->
<form>
  <div class="form-group">
    <label for="five-star-form-select">Rate This Film Out of 5</label>
    <select class="form-control" id="star-rate-film">
      <option>1 Star</option>
      <option>2 Star</option>
      <option>3 Star</option>
      <option>4 Star</option>
      <option>5 Star</option>
    </select>
  </div>
</form>
<!--end of Search feild-->

 {% endblock %}