{% extends 'layout/userbase.html' %} {% block content %}
<!---Slideshow-->
<div class="w3-content w3-section contain-fluid">
  <img class="movie-header" src="/static/images/headers/header-36.jpg">
  <img class="movie-header" src="/static/images/headers/header-37.jpg">
  <img class="movie-header" src="/static/images/headers/header-38.jpg">
  <img class="movie-header" src="/static/images/headers/header-39.jpg">
  <img class="movie-header" src="/static/images/headers/header-40.jpg">
</div>

<!--Intro--->
    <div class="col-lg-5 text-spacing text-center">
        <h1 class="font-weight-light">View All Reviews</h1>
        <p>Search any and every film there is. If there is a film that you have seen, click the button and add a review.</p>
    </div>

<!----view/delete table---->
<div class="container">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Stars</th>
      <th scope="col">Comment</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for review in reviews %}
    <tr class="table-light">
      <th scope="row">{{review.movieName}}</th>
      <td>{{review.movieStar}}</td>
      <td>{{review.movieReview}}</td>
      <td><a href="{{url_for('removereview', review_id=review._id)}}" class="btn btn-danger">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table> 
</div>
{% endblock %}