{% extends 'layout/userbase.html' %} {% block content %}
<!---Slideshow-->
<div class="w3-content w3-section contain-fluid">
  <img class="movie-header" src="/static/images/headers/header-16.jpg">
  <img class="movie-header" src="/static/images/headers/header-17.jpg">
  <img class="movie-header" src="/static/images/headers/header-18.jpg">
  <img class="movie-header" src="/static/images/headers/header-19.jpg">
  <img class="movie-header" src="/static/images/headers/header-20.jpg">
</div>

<!--Intro--->
    <div class="container-fluid text-spacing text-center">
        <h1 class="font-weight-light">View All Reviews</h1>
        <p>View all movie reviews that have been sent in my other movie lovers. If you see a review that you want to remove, click the delete button and it will be removed from the collection.</p>
    </div>

<!----view/delete table---->
<div class="row">

    {% for review in reviews %}
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <h3 class="text-center">{{review.movieName}}</h3>
                <h4 class="text-center text-muted">{{review.movieStar}}</h4>
                <p class="card-text text-center review-text">{{review.movieReview}}</p>
                <a href="{{url_for('removereview', review_id=review._id)}}" class="btn btn-danger text-spacing">Delete</a>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}