{% extends 'layout/userbase.html' %} {% block content %}
<div class="row align-items-center my-5">
    <div class="col-lg-7 text-center">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/images/headers/header-10.jpg" alt="header-display">
    </div>
    <div class="col-lg-5 text-center">
        <h1 class="font-weight-light">Edit Films</h1>
        <p>If you have made a error on one of the films, adjust films from your database. Click the button next to the film to adjust the film.</p>
    </div>
</div>
{% include 'components/editbutton.html' %} {% endblock %}