{% extends 'layout/base.html' %} {% block content %}
<div class="row align-items-center my-5 border-bottom">
    <div class="col-lg-7">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item carousel-item-6 active">
                </div>
                <div class="carousel-item carousel-item-7">
                </div>
                <div class="carousel-item carousel-item-8">
                </div>
                <div class="carousel-item carousel-item-9">
                </div>
                <div class="carousel-item carousel-item-10">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-lg-5 text-spacing text-center">
        <h1 class="font-weight-light">Edit/Delete Movies</h1>
        <p>Made an error on a movie added or want to remove a movie? Scroll below to edit/delete movies that are in the database.</p>
    </div>
</div>

<!--Edit/Delete Movies--->

<div class="container">
    <div class="row" id="moviesDIV">

        {% for movie in movies %}
        <div class="col-md-3 film-card">
            <div class="card border-0 shadow">
                <img src="{{movie.poster}}" class="card-img-top" alt="movie-poster">
                <h4 class="text-center film-title">{{movie.title}}</h4>
                <div class="row">
                    <div class="input-group-append col-6">
                        <button id="infoBtn" type="submit" class="btn btn-secondary" data-toggle="modal" data-target="#editModal">Edit</button>
                    </div>
                    <div class="input-group-append col-6">
                        <a href="{{url_for('removemovie')}}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- edit modal -->
        <div id="editModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 class="border-bottom text-center modal-text">Edit Movie</h2>
                <form action="{{ url_for('updatemovies', movie_id=movie._id) }}" method="POST">
                    <div class="row">
                        <!--Movie name-->
                        <div class="col-md-6 mb-3">
                            <h4 class="text-center modal-text"><label for="title">Movie Title</label></h4>
                            <input type="text" class="form-control" id="title" name="title" placeholder="" value="{{movie.title}}" required="">
                            <div class="invalid-feedback">
                                Valid movie title is required.
                            </div>
                        </div>
                        <!--Director name-->
                        <div class="col-md-6 mb-3">
                            <h4 class="text-center modal-text"><label for="director">Director</label></h4>
                            <input type="text" class="form-control" id="director" name="director" placeholder="" value="{{movie.director}}" required="">
                            <div class="invalid-feedback">
                                Valid director name is required.
                            </div>
                        </div>
                        <!--Movie description-->
                        <div class="col-md-12 mb-3">
                            <h4 class="text-center modal-text"><label for="plot">Description</label></h4>
                            <input type="text" class="form-control" id="plot" name="plot" placeholder="" value="{{movie.plot}}" required="">
                            <div class="invalid-feedback">
                                Please enter the movie plot.
                            </div>
                        </div>
                        <!--Movie Genre-->
                        <div class="col-md-12 mb-3">
                            <h4 class="text-center modal-text"><label for="genre">Genre</label></h4>
                            <input type="text" class="form-control" id="genre" name="genre" required="" value="{{movie.genre}}">
                            <div class="invalid-feedback">
                                Please fill in with one or multiple genres.
                            </div>
                        </div>
                        <!--Movie release year-->
                        <div class="col-md-4 mb-3">
                            <h4 class="text-center modal-text"><label for="year">Year of Release</label></h4>
                            <input type="text" class="form-control" id="year" name="year" placeholder="" value="{{movie.year}}" required="">
                            <div class="invalid-feedback">
                                Valid year of release is required.
                            </div>
                        </div>
                        <!--Movie Age Rating-->
                        <div class="col-md-4 mb-3">
                            <h4 class="text-center modal-text"><label for="rated">Age Rating</label></h4>
                            <select class="custom-select d-block w-100" id="rated" name="rated" required="">
                                <option value="{{movie.rated}}">{{movie.rated}}</option>
                                <option value="U">U</option>
                                <option value="PG">PG</option>
                                <option value="12A">12A</option>
                                <option value="12">12</option>
                                <option value="15">15</option>
                                <option value="18">18</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select from the dropdown.
                            </div>
                        </div>
                        <!--Movie poster-->
                        <div class="col-md-4 mb-3">
                            <h4 class="text-center modal-text"><label for="poster">Poster</label></h4>
                            <input type="text" class="form-control" id="poster" name="poster" placeholder="" value="{{movie.poster}}" required="">
                            <div class="invalid-feedback">
                                Poster link is required.
                            </div>
                        </div>
                        <!--Submit button-->
                        <div class="text-center col-12">
                            <button type="submit" name="action" class="btn btn-success btn-block text-center">Submit</button>
                        </div>
                </form>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}