{% extends 'layout/base.html' %} {% block content %}
<div class="container-fluid">
  <img src="static/assets/images/headers/header-1.jpg" alt="Avatar" class="header-image">
  <div class="overlay">
    <div class="text"> 
    <i class="fa fa-film"></i>
    <h2>Review Movies</h2>
    <h6>Welcome! Review Movies is the website where millions of film lovers find films to watch and rate them! Finding movies and reviews has never been so simple.</h6>
</div>
  </div>
</div>

<div class="container-fluid">
<h4>Recently added</h4>
<div class="row">
  <img src="static/assets/images/movie-poster/dark-knight.jpg" alt="recent-poster" class="thumbernail col-3">
    <img src="static/assets/images/movie-poster/first-man.jpg" alt="recent-poster" class="thumbernail col-3">
      <img src="static/assets/images/movie-poster/four-weddings.jpg" alt="recent-poster" class="thumbernail col-3">
        <img src="static/assets/images/movie-poster/inception.jpg" alt="recent-poster" class="thumbernail col-3">
  <img src="static/assets/images/movie-poster/kiki-delivery.jpg" alt="recent-poster" class="thumbernail col-3">
  <img src="static/assets/images/movie-poster/la-la-land.jpg" alt="recent-poster" class="thumbernail col-3">
  <img src="static/assets/images/movie-poster/moonlight.jpg" alt="recent-poster" class="thumbernail col-3">
  <img src="static/assets/images/movie-poster/pulp-fiction.jpg" alt="recent-poster" class="thumbernail col-3">
  <img src="static/assets/images/movie-poster/singin-in-the-rain.jpg" alt="recent-poster" class="thumbernail col-3">
  <img src="static/assets/images/movie-poster/sleeping-beauty.jpg" alt="recent-poster" class="thumbernail col-3">
  <img src="static/assets/images/movie-poster/spectre.jpg" alt="recent-poster" class="thumbernail col-3">
  <img src="static/assets/images/movie-poster/wizard-of-oz.jpg" alt="recent-poster" class="thumbernail col-3">
</div>
</div>
{% endblock %}