{% extends 'base.html' %} {% block content %}
<!--display screen-->
<!-- Genre Section -->
<div>
<!--Animation/Cartoon-->
<h5 class="text-center">Animation/Cartoon</h5>
<div class="row">
<div class="card mb-3 col-md-6">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="static/assets/images/movie-poster/sleeping-beauty.jpg" class="card-img" alt="homepage-film">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Sleeping Beauty (1959)</h5>
        <p class="card-text">After being snubbed by the royal family, a malevolent fairy places a curse on a princess which only a prince can break, along with the help of three good fairies.</p>
        <a href="#" class="card-link">View other films</a>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3 col-md-6">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="static/assets/images/movie-poster/kiki-s-delivery-service.jpg" class="card-img" alt="homepage-film">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Kiki's Delivery Service (1989)</h5>
        <p class="card-text">A young witch, on her mandatory year of independent life, finds fitting into a new community difficult while she supports herself by running an air courier service.</p>
        <a href="#" class="card-link">View other films</a>
      </div>
    </div>
  </div>
</div>









</div>

<!--Crime/Mystery-->
<h5 class="text-center">Crime/Mystery</h5>
<div class="row">
<div class="card mb-3 col-md-6">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="static/assets/images/movie-poster/sleeping-beauty.jpg" class="card-img" alt="homepage-film">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Pulp Fiction (1994)</h5>
        <p class="card-text">The lives of two mob hitmen, a boxer, a gangster and his wife, and a pair of diner bandits intertwine in four tales of violence and redemption.</p>
        <a href="#" class="card-link">View other films</a>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3 col-md-6">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="static/assets/images/movie-poster/sepctre.jpg" class="card-img" alt="homepage-film">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Spectre (2015)</h5>
        <p class="card-text">A cryptic message from James Bond's past sends him on a trail to uncover the exsistence of a sinister organisation named SPECTRE. With a new threat dawning, Bond learns the terrible truth about the author of all his pain in his most recent missions.</p>
        <a href="#" class="card-link">View other films</a>
      </div>
    </div>
  </div>
</div>
</div>
<!--Drama-->
<h5 class="text-center">Drama</h5>

<!--Fantasy-->
<h5 class="text-center">Fantasy</h5>

<!--Musical-->
<h5 class="text-center">Musical</h5>

<!--Romance-->
<h5 class="text-center">Musical</h5>

<!--Sci-Fi-->
<h5 class="text-center">Sci-Fi</h5>

<!--Thriller-->
<h5 class="text-center">Thriller</h5>

</div>
{% endblock %}