{% extends 'layout/base.html' %} {% block content %}
<div class="container">
  <img src="static/assets/images/headers/header-1.jpg" alt="Avatar" class="header-image">
  <div class="overlay">
    <div class="text">test</div>
  </div>
</div>







<div class="jumbotron">
      <img src="static/assets/images/headers/header-1.jpg" class="card-img" alt="film-header">

    <div class="container">
      <h1 class="display-3">testing</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio magni possimus sed nobis eligendi consequuntur labore molestiae saepe tempore. Magni, ipsa? Repellat accusantium et error provident saepe magni reiciendis delectus ipsa distinctio quod. Possimus rerum praesentium facilis qui, ut assumenda, quis debitis eum, placeat eaque totam molestiae amet quasi quaerat.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">test</a></p>
    </div>
  </div>




<div class="container-fluid">

<div class="title">
Review Movies
</div>
<div>
<a class="btn btn-lg btn-successful" href="{{url_for('viewfilms')}}">View all movies</a>
<a class="btn btn-lg btn-successful" href="{{url_for('viewreviews')}}">View Reviews</a>
<p>Welcome! Review Movies is the website where millions of film lovers find films to watch and rate them! Finding movies and reviews has never been so simple.</p>
</div>
</div>

{% endblock %}