{% extends 'layout/base.html' %} {% block content %}
<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Name</h3>
                <div>
                Year | Age Rating
                </div>
                <div>
                Genre | Length
                </div>
                <div>
                Description
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image">
    <img src="static/assets/images/movie-poster/dark-knight.jpg">
    </div>

  </div>
</div>

{% include 'components/review.html' %}

{% endblock %}