{% extends 'layout/base.html' %} {% block content %}
<div class="login-page">
	<form class="form-signin">
		<div class="text-center mb-4">
			<h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
		</div>

		<div class="form-label-group">
			<input type="email" id="inputEmail" class="form-control" placeholder="Enter Email address" required="film@email.com" autofocus="">
  </div>

			<div class="form-label-group">
				<input type="password" id="inputPassword" class="form-control" placeholder="Enter Password" required="Password1234">
  </div>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	</form>
</div>

{% endblock %}