{% extends 'layout/base.html' %} {% block content %}
<div class="container-fluid">
  <img src="static/assets/images/headers/header-6.jpg" alt="Avatar" class="header-image">
  <div class="overlay overlay-login login-page">
		<div class="text-center text mb-4">
        <i class="fa fa-users intro-icon"></i>
			<h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
		<form action="https://films-and-reviews.herokuapp.com/userhome" method="post">
    <input type="Username" placeholder="Username" />
    <input type="password" placeholder="Password" />
    <input  type="submit" value="Log in" />
</form>	
        </div>
        </div>
</div>
{% endblock %}