{% extends 'layout/base.html' %} {% block content %}

<form class="needs-validation" novalidate="">
        <div class="row">
          <div class="col-md-6 mb-3">
            <input type="text" class="form-control" id="firstName" placeholder="Film Name" value="" required="">
          </div>
          <div class="col-md-6 mb-3">
            <select class="custom-select d-block w-100" id="country" required="">
              <option value="">Choose...</option>
              <option>5 Stars</option>
              <option>4 Stars</option>
              <option>3 Stars</option>
              <option>2 Stars</option>
              <option>1 Stars</option>
            </select>
            <div class="invalid-feedback">
              Please select a rating.
            </div>
          </div>
       </div>  

        <div class="mb-3">
          <input type="text" class="form-control" id="address" placeholder="Leave Your Thoughts" required="">
          <div class="invalid-feedback">
            Please enter your thoughtd of the movie
          </div>
        </div>
            <button type="button" class="btn btn-secondary col-12">Submit</button>
        </form>

{% endblock %}