{% extends 'layout/userbase.html' %} {% block content %}
<div class="row align-items-center my-5">
    <div class="col-lg-7 text-center">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/images/headers/header-10.jpg" alt="header-display">
    </div>
    <div class="col-lg-5 text-center">
        <h1 class="font-weight-light">View/Delete Reviews</h1>
        <p>View and remove any reviews that you don't want on the website. Below is the full list of all the reviews.</p>
    </div>
</div>
{% include 'components/reviewdashboard.html' %} {% endblock %}