{% extends 'layout/userbase.html' %} {% block content %}
<div class="row align-items-center my-5">
<!--Intro--->
<div class="col-lg-5 text-spacing text-center">
<i class="fa fa-check"></i>
        <h1 class="header-style"><strong>Your Movie Is Added!</strong></h1>
<p class="header-style">Thank you so much for adding a review, why not leave another review? Click the button below. </p>
<div class="row">
<a href="{{url_for('viewmovies')}}" class="col-6 btn btn-outline-warning">View Movies</a>
<a href="{{url_for('viewreviews')}}" class="col-6 btn btn-outline-danger">View Reviews</a>
</div>
    </div>
    <!--Slideshow--->
    <div class="col-lg-7">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
    {% include 'components/addreviewslide.html' %}  
    </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
</div>
 
</div>
</div>
{% endblock %}