{% extends 'layout/base.html' %} {% block content %}

<div class="row align-items-center my-5 border-bottom">
<div class="col-lg-5 text-spacing text-center">
        <h1 class="header-style"><strong>Submit Your Thoughts</strong></h1>
<p class="header-style">We would love to hear your feedback about a film that we have in our database. Fill in the form below and submit your thoughts.</p>
    </div>
    <div class="col-lg-7">
<!----addslide-->
</div>
</div>
</div>

<div class="container review-container">
    <h1 class="mb-3">Review Added!</h1>
</div>

{% endblock %}