{% extends 'layout/userbase.html' %} {% block content %}
<!---Slideshow-->
<div class="w3-content w3-section contain-fluid">
  <img class="movie-header" src="static/images/headers/header-36.jpg">
  <img class="movie-header" src="static/images/headers/header-37.jpg">
  <img class="movie-header" src="static/images/headers/header-38.jpg">
  <img class="movie-header" src="static/images/headers/header-39.jpg">
  <img class="movie-header" src="static/images/headers/header-40.jpg">
</div>

<!--Intro--->
<div class="container-fluid text-spacing text-center">
<i class="fa fa-check"></i>
        <h1 class="header-style"><strong>Your Movie Is Added!</strong></h1>
<p class="header-style">Thank you so much for adding a review, why not leave another review? Click the button below. </p>
<div class="row">
<a href="{{url_for('viewmovies')}}" class="col-6 btn btn-outline-warning">View Movies</a>
<a href="{{url_for('addmovie')}}" class="col-6 btn btn-outline-danger">Add Another Movie</a>
<a href="{{url_for('addreview')}}" class="col-6 btn btn-outline-danger">Add A Review</a>
<a href="{{url_for('viewreviews')}}" class="col-6 btn btn-outline-danger">View Reviews</a>

</div>
    </div>

{% endblock %}