{% extends 'layout/base.html' %} {% block content %}
<div class="container-fluid">
  <img src="static/assets/images/headers/header-5.jpg" alt="Avatar" class="header-image">
  <div class="overlay overlay-subscribe">
    <div class="text"> 
    <i class="fa fa-at intro-icon"></i>
    <h2>Subscribe For Updates</h2>
    <h6>Sign up to find when new films are added so you can be the first to watch and review it.</h6>
<div class="form-email row">
    <input type="email" class="form-control col-md-8" id="email-form" aria-describedby="emailHelp" placeholder="Enter your email">
    <button type="submit" class="btn btn-primary col-md-4">Submit</button>
</div>
</div>
  </div>
</div>
{% endblock %}