{% extends 'layout/base.html' %} {% block content %}
<div class="text-center subscribe-background">
 <img src="static/assets/images/headers/header-5.jpg" alt="Avatar" class="header-image">
  <div class="overlay">
    <div class="text"> 
    <i class="fa fa-film"></i>
    <h2>Subscribe for our updates</h2>

<div class="form-email row">
    <input type="email" class="form-control col-md-8" id="email-form" aria-describedby="emailHelp" placeholder="Enter your email">
    <button type="submit" class="btn btn-primary col-md-4">Submit</button>
</div>
</div>
{% endblock %}