{% extends 'layout/base.html' %} {% block content %}
<div class="row align-items-center my-5">
      <div class="col-lg-7 text-center">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/images/headers/header-7.jpg" alt="header-display">
      </div>
      <div class="col-lg-5">
        <h1 class="font-weight-light">Subscribe For Updates</h1>
    <p>Sign up to find when new films are added so you can be the first to watch and review it.</p>
      </div>
    </div>
{% include 'components/subscribeform.html' %}
{% include 'components/subscribemodal.html' %}
{% endblock %}