{% extends 'layout/userbase.html' %} 
{% block content %}
<!---Slideshow-->
<div class="w3-content w3-section contain-fluid">
	<img class="movie-header" src="/static/images/headers/header-26.jpg" alt="header-26">
	<img class="movie-header" src="/static/images/headers/header-27.jpg" alt="header-27">
	<img class="movie-header" src="/static/images/headers/header-28.jpg" alt="header-28">
	<img class="movie-header" src="/static/images/headers/header-29.jpg" alt="header-29">
	<img class="movie-header" src="/static/images/headers/header-30.jpg" alt="header-30">
</div>
<!--Intro/Dashboard-->
{% include 'components/dashboard.html' %} 
{% endblock %}