{% extends 'layout/base.html' %} {% block content %}
<div class="row align-items-center my-5 border-bottom">
<div class="col-lg-5 text-spacing text-center">
        <h1 class="header-style"><strong>Search It</strong></h1>
<p class="header-style">Search a film in the search bar, click the film you want to view and find out infomation about it, what other people think about it and add your own review.</p>
    </div>
    <div class="col-lg-7">
{% include 'components/filmslide.html' %}   
</div>
</div>

<!---Films---->
<div class="container">
<div class="row" id="moviesDIV">

{% for movie in movies %}
<div class="col-md-3 film-card film-effect">
        <div class="card border-0 shadow">
            <img src="{{movie.poster}}" class="card-img-top" alt="movie-poster">
            <h4 class="text-center film-title">{{movie.title}}</h4>
        <div class="row">    
            <div class="input-group-append col-6">
            <button id="infoBtn" type="submit" class="btn btn-secondary">Info</button>
          </div>
          <div class="input-group-append col-6">
            <button type="submit" class="btn btn-secondary">Reviews</button>
          </div>   
          </div>     
            </div>
            </div>
<!-- info modal -->
<div id="infoModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">{{movie.title}}</h3>
                <p>{{movie.year}} | {{movie.rating}}</p>
                <p>{{movie.genre}} | {{movie.runtime}}</p>
                <p>{{movie.plot}}</p>
                <p>{{movie.actors}}</p>
    </div>
  </div>
</div>
{% endfor %}
{% for review in reviews %}

<!-- review modal -->
<div id="infoModal" class="modal" >
<h1></h1>
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">{{review.star}}</h3>
                <p>{{review.review}}</p>
                <a href="{{url_for('addreview')}}" class="btn">Add A Review</a>
    </div>
  </div>
</div>
{% endfor %}

</div> 

{% endblock %}