{% extends 'layout/base.html' %} {% block content %}
<!-- display screen -->
<div class="container-fluid">
  <img src="static/assets/images/headers/header-2.jpg" alt="Avatar" class="header-image">
  <div class="overlay overlay-viewfilm">
    <div class="text">
    <i class="fa fa-tv intro-icon"></i>
    <h4>View our films</h4>
  <p>Check out all of our films that we have - We have put together all the information about the films. Struggling to find the next film to watch, we have added filters so you can find films from things that you like.</p>
    </div>
  </div>
</div>
<!--film filter-->
<!--film database-->
<div class="row">
        <div class="col-sm-4">
        <div class="img-container">
        <img class="img-responsive" src="###">
        </div>
        <div class="film-title">
                        title####
                    </div>
        <div class="film-description">
                        ####
                    </div>
        </div>
</div>

{% endblock %}