{% extends 'layout/base.html' %} {% block content %}
<div class="row align-items-center my-5">
      <div class="col-lg-7 text-center">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/images/headers/header-3.jpg" alt="header-display">
      </div>
      <div class="col-lg-5 text-center">
        <h1 class="font-weight-light">View Reviews</h1>
    <p>Find other film lovers reviews and find out what they think of the movie. We have displayed all of our films that have been left. Scroll down to find out what other people think about your favourite film.</p>
      </div>
    </div>
    {% include 'components/reviewdisplay.html' %}
{% endblock %}