{% extends 'layout/base.html' %} {% block content %}
<div class="container-fluid">
  <img src="static/assets/images/headers/header-3.jpg" alt="Avatar" class="header-image">
  <div class="overlay">
    <div class="text">
    <i class="fa fa-comments"></i>
    <h4>View all reviews</h4>
    <p>Find other film lovers reviews and find out what they think of the movie. We have displayed all of our films that have been left. Scroll down to find out what other people think about your favourite film.</p>

    </div>
  </div>
</div>
{% endblock %}