html {
    padding: 0;
}

h2 {
    margin: 0;
}

div {
    padding: 0;
}

img {
    padding: 0;
    margin: 0;
}

.container-fluid{
padding: 0;
}

.container{
padding: 15px;
}

.card,
.card-deck,
.row {
    margin: 0;
}

/*---navbar ----*/
.navbar-brand {
    font-size: 30px;
}

.nav-link {
    font-size: 20px;
}

.usericon {
    font-size: 25px;
}

/*-- footer ---*/
.form-email {
    padding: 0;
}

/*--- index page---*/
.index-review {
    font-size: 50px;
}
/*----slideshows---*/
.text-spacing {
    padding: 15px;
}

.carousel-inner {
    height: 300px;
}

.carousel-item {
  height: 100%;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-item-1 {
    background-image: url('https://raw.githubusercontent.com/katerinaelsasser/film_review_database/master/static/images/headers/header-1.jpg');
}
.carousel-item-2 {
background-image: url('https://raw.githubusercontent.com/katerinaelsasser/film_review_database/master/static/images/headers/header-2.jpg');
}
.carousel-item-3 {
background-image: url('https://raw.githubusercontent.com/katerinaelsasser/film_review_database/master/static/images/headers/header-3.jpg');
}
.carousel-item-4 {
background-image: url('https://raw.githubusercontent.com/katerinaelsasser/film_review_database/master/static/images/headers/header-4.jpg');
}
.carousel-item-5 {
background-image: url('https://raw.githubusercontent.com/katerinaelsasser/film_review_database/master/static/images/headers/header-5.jpg');
}
.carousel-item-6 {
background-image: url('https://raw.githubusercontent.com/katerinaelsasser/film_review_database/master/static/images/headers/header-6.jpg');
}
.carousel-item-7 {
background-image: url('https://raw.githubusercontent.com/katerinaelsasser/film_review_database/master/static/images/headers/header-7.jpg');
}
.carousel-item-8 {
background-image: url('https://raw.githubusercontent.com/katerinaelsasser/film_review_database/master/static/images/headers/header-8.jpg');
}
.carousel-item-9 {
background-image: url('https://raw.githubusercontent.com/katerinaelsasser/film_review_database/master/static/images/headers/header-9.jpg');
}
.carousel-item-10 {
background-image: url('https://raw.githubusercontent.com/katerinaelsasser/film_review_database/master/static/images/headers/header-10.jpg');
}
.carousel-item-11 {
background-image: url('https://raw.githubusercontent.com/katerinaelsasser/film_review_database/master/static/images/headers/header-11.jpg');
}
.carousel-item-12 {
background-image: url('https://raw.githubusercontent.com/katerinaelsasser/film_review_database/master/static/images/headers/header-12.jpg');
}
.carousel-item-13 {
background-image: url('https://raw.githubusercontent.com/katerinaelsasser/film_review_database/master/static/images/headers/header-13.jpg');
}
.carousel-item-14 {
background-image: url('https://raw.githubusercontent.com/katerinaelsasser/film_review_database/master/static/images/headers/header-14.jpg');
}
.carousel-item-15 {
background-image: url('https://raw.githubusercontent.com/katerinaelsasser/film_review_database/master/static/images/headers/header-15.jpg');
}
/*--- new arrivals ---*/
.new-arrivals-text {
padding: 15px;
}

.new-arrivals {
      filter: gray;
      -webkit-filter: grayscale(1);
      -webkit-transition: all .8s ease-in-out; 
      max-width: auto;
      height: 300px; 
    }

 .new-arrivals:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
    }
/*--- viewfilms ---*/
.film-header {
  background-image: url('https://raw.githubusercontent.com/katerinaelsasser/film_review_database/master/static/images/headers/header-7.jpg');  
}