html {
    padding: 0;
}

h2 {
    margin: 0;
}

div {
    padding: 0;
}

img {
    padding: 0;
    margin: 0;
}

.container-fluid{
padding: 0;
}

.container{
padding: 15px;
}

.card,
.card-deck,
.row {
    margin: 0;
}

/*---navbar ----*/
.navbar-brand {
    font-size: 30px;
}

.nav-link {
    font-size: 20px;
}

.usericon {
    font-size: 25px;
}

/*-- footer ---*/
.form-email {
    padding: 0;
}

/*--- index page---*/
.index-review {
    font-size: 50px;
}

.text-spacing {
    padding: 15px;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-item-1 {
    background-image: url('https://raw.githubusercontent.com/katerinaelsasser/film_review_database/master/static/assets/images/headers/header-1.jpg');
}
.carousel-item-2 {
background-image: url('https://raw.githubusercontent.com/katerinaelsasser/film_review_database/master/static/assets/images/headers/header-2.jpg');
}
.carousel-item-3 {
background-image: url('https://raw.githubusercontent.com/katerinaelsasser/film_review_database/master/static/assets/images/headers/header-3.jpg');
}
/*--- new arrivals ---*/
.new-arrivals-text {
padding: 15px;
}

.new-arrivals {
      filter: gray;
      -webkit-filter: grayscale(1);
      -webkit-transition: all .8s ease-in-out; 
      max-width: auto;
      height: 300px; 
    }

 .new-arrivals:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
    }