html {
    padding: 0;
}

h2 {
    margin: 0;
}

div {
    padding: 0;
}

img {
    padding: 0;
    margin: 0;
}

.container{
padding: 15px;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.card,
.card-deck,
.row {
    margin: 0;
}

.col-4 {
    padding: 0;
}

/*---navbar ----*/
.navbar-brand {
    font-size: 30px;
}

.nav-link {
    font-size: 25px;
}

/*-- footer ---*/
.form-email {
    padding: 0;
}

/*--- index page---*/
.index-review {
    font-size: 50px;
}

.text-spacing {
    padding: 15px;
}

/*--- login page ---*/
.login-page {
    padding: 100px;
}

/*--- new arrivals ---*/
.new-arrivals-text {
padding: 15px;
}

.new-arrivals {
      filter: gray;
      -webkit-filter: grayscale(1);
      -webkit-transition: all .8s ease-in-out; 
      max-width: auto;
      height: 300px; 
    }

 .new-arrivals:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
    }

/*-----login-----*/

.form-label-group {
    margin: 15px;
}
/*----user dashboard----*/

.dash-text {
    padding: 15px;
}

/*------filmform--------*/
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
/*----all pages----*/

.sub-title {
    padding: 25px;
}