html {
    padding: 0;
}

h2 {
    margin: 0;
}

div {
    padding: 0;
}

img {
    padding: 0;
    margin: 0;
}

.container{
padding: 15px;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.card,
.card-deck,
.row {
    margin: 0;
}

.col-4 {
    padding: 0;
}

/*---navbar ----*/
.navbar-brand {
    font-size: 30px;
}

.nav-link {
    font-size: 25px;
}

/*-- footer ---*/
.form-email {
    padding: 0;
}

/*--- index page---*/
.index-review {
    font-size: 50px;
}

.text-spacing {
    padding: 15px;
}

/*---filmdisplay---*/
.film-card {
    margin: 14px;
}

/*--- login page ---*/
.login-page {
    padding: 100px;
}

/*--- new arrivals ---*/
.new-arrivals-text {
padding: 15px;
}

.new-arrivals {
      filter: gray;
      -webkit-filter: grayscale(1);
      -webkit-transition: all .8s ease-in-out; 
      width: auto;
      height: 500px; 
    }

 .new-arrivals:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
    }

/*-----login-----*/

.form-label-group {
    margin: 15px;
}
/*----user dashboard----*/

.dash-text {
    padding: 15px;
}

/*----filmlisting----*/

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/*----all pages----*/

.sub-title {
    padding: 25px;
}