.film-container {
	width: 100%;
	margin-top: 30px;
}

.film-list {
	width: 100%;
	float: left;
}

.film-list li{
	float: left;
	margin: 0 20px 20px 0;
}

.movie {
	width: 235px;
	height: auto;
	position: relative;
	overflow: hidden;
}

.film-poster {
	width: 235px;
	height: auto;
	display: block;
}