<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/style.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Review Movies</title>
</head> 
<body>
    <!-- Navbar -->
    <header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{url_for('homepage')}}">Review Movies</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('homepage')}}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('viewfilms')}}">View Our Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('viewreviews')}}">View Other Reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('addreviews')}}">Leave A Review</a>
      </li>
    </ul>
  </div>
</nav>
    </header>
    <!-- End of Navbar -->
    <!-- Main content -->
    {% block content %} {% endblock %}
    <!-- End of Main content -->

</body> 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="assets/js/script.js"></script>
    </body>

</html>