{% extends 'base.html' %}
{% block content %}
        {% for film in films %}
            {{film.film_name}}
            {{film.film_year}}
            {{film.film_director}}
            {{film.film_genre}}
            {{film.film_rating}}
            {{film.film_length}}
        {% endfor %}
<ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>
      {{film.film_name}}
      </div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>
{% endblock %}