{% extends 'base.html' %} {% block content %}
    <div class="info-title">
    <h4 class="text-center">Watch Films & Leave A Review!</h4>

    <p>Don't know what to watch next? We have put together a wide range of films from all genres! Keep an eye out for new releases! We update our films every Friday.</p>
</div>

<!-- Genre Section -->
<div>
<h3><a href="{{url_for('get_films')}}">Genres</a></h3>

<div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    <div class="carousel-item red white-text" href="#one!">
    <img class="card-img-top" alt="animation-cartoons" src="assets/css/images/movie-poster/snow-white-and-the-seven-dwarfs.jpg" />
      <h2>First Panel</h2>
      <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
        <img class="card-img-top" alt="animation-cartoons" src="assets/css/images/movie-poster/snow-white-and-the-seven-dwarfs.jpg" />

      <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
        <img class="card-img-top" alt="animation-cartoons" src="assets/css/images/movie-poster/snow-white-and-the-seven-dwarfs.jpg" />

      <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
        <img class="card-img-top" alt="animation-cartoons" src="assets/css/images/movie-poster/snow-white-and-the-seven-dwarfs.jpg" />

      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
  </div>
















<h4>Animation/Cartoon</h4>
<div class="row">
<!-- snow white-->
<div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
            <img class="card-img-top" alt="animation-cartoons" src="assets/css/images/movie-poster/snow-white-and-the-seven-dwarfs.jpg" />
              <p class="card-text"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy The Movie</button>
                </div>
              </div>
            </div>
          </div>
        </div>
<!-- kiki deliervy-->
<div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
            <img class="card-img-top" alt="animation-cartoons" src="assets/css/images/movie-poster/kiki-s-delivery-service.jpg" />
              <p class="card-text"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy The Movie</button>
                </div>
              </div>
            </div>
          </div>
        </div>
<!-- sleeping beauty-->
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
            <img class="card-img-top" alt="animation-cartoons" src="assets/css/images/movie-poster/sleeping-beauty.jpg" />
              <p class="card-text"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy The Movie</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>





<ul>
<li></li>
<li>Crime/Mystery</li>
<li">Drama</li>
<li>Fantasy</li>
<li>Musical</li>
<li>Romance</li>
<li>Sci-Fi</li>
<li>Thriller</li>
</ul>
</div>
    <!--New release carousel-->
    

{% endblock %}