<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Review Movies</title>
</head>

<body>
    <!-- Navbar -->
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="{{url_for('get_films')}}" class="brand-logo center">Movies</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="{{url_for('add_review')}}">Review</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- End of Navbar -->
    <div class="info-title">
    <h4 class="text-center">Watch Films & Leave A Review!</h4>

    <p>Don't know what to watch next? We have put together a wide range of films from all genres! Keep an eye out for new releases! We update our films every Friday.</p>
</div>

<!-- Genre Section -->
<div>
<h4>Genres</h4>
<ul>
<li></li>
</ul>
</div>
    <!--New release carousel-->
    
</body>