{% extends 'base.html' %} {% block content %}
    <div class="info-title">
    <h4 class="text-center">Watch Films & Leave A Review!</h4>

    <p>Don't know what to watch next? We have put together a wide range of films from all genres! Keep an eye out for new releases! We update our films every Friday.</p>
</div>

<!-- Genre Section -->
<div>
<h4><a href="{{url_for('get_films')}}">Genres</h4>
<ul>
<li>Cartoon</li>
<li>Crime/Mystery</li>
<li">Drama</li>
<li>Fantasy</li>
<li>Musical</li>
<li>Romance</li>
<li>Sci-Fi</li>
<li>Thriller</li>
</ul>
</div>
    <!--New release carousel-->
    

{% endblock %}