{% block about %}
<div class="text-center footer-padding">
    <h4 class="footer-padding">About Us</h4>
    <p>Created in 2019, FRATES is a about designed for all movie lovers. Find movies as well as viewing what movie lovers think and check out what they have reviviewed and add a review of your own. We have all the movies under the sun as well as all the information about the movies. All that you have to do is head over to our movie page and search a movie of your choice.</p>
</div>
{% endblock %}