{% block dashboard %}
<div class="container">
<div class="row mb-2">
    <div class="col-md-4">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">View Movies</h3>
          <div class="mb-1 text-muted">Visible To All</div>
          <p class="card-text mb-auto">View all movies that are in the datbase, an unlimited about of movies. Search the film you would like to see.</p>
          <a class="stretched-link" href="{{url_for('viewmovies')}}">Click Here</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Add Reviews</h3>
          <div class="mb-1 text-muted">Visible To All</div>
          <p class="mb-auto">Leave a revew for one of the films in the database. Simiply search the review, find your film and then submit a review form.</p>
          <a class="stretched-link" href="{{url_for('viewmovies')}}">Click Here</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Delete Reviews</h3>
          <div class="mb-1 text-muted">Visible To Only You</div>
          <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a class="stretched-link" href="{{url_for('deletereviews')}}">Click Here</a>
        </div>
      </div>
    </div>
  </div>
      </div>

{% endblock %}