{% block filmdisplay %}
<!--Intro-->
<div class="container">
<h4>Search A Film & Review It</h4>
<p>Search a film in the search bar, click the film you want to view and find out infomation about it, what other people think about it and add your own review.</p>
</div>
<!---Search Bar-->
<div class="border-bottom">
<div class="container">
<div class="searchbar-button row">
    <input class="form-control col-8 search-bar" type="text" placeholder="Search a film..." id="filmSearchBar" name="filmSearchBar">
    <button class="btn btn-primary btn-warning col-4 search-button" id="filmSearchBtn" type="submit">Search</button>
</div>
</div>
</div>
<!---Films---->
<div class="container">
<div class="row" id="moviesDIV">

{% for film in films %}
<div class="col-md-3 film-card film-effect">
        <div class="card border-0 shadow">
        <a onclick="movieSelected('${movie.imdbID}')" href="#">
            <img src="${movie.Poster}" class="card-img-top" alt="movie-poster"></a>
            <h4 class="text-center film-title">${movie.Title}</h4>
            </div>
{% endfor %}

</div>
</div>
{% endblock %}
