{% block filmdashboard %}
<div class="table-responsive container">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Title</th>
              <th>Year</th>
              <th>Age Rating</th>
              <th>Genre</th>
              <th>Description</th>
              <th>Poster</th>
              <th>Edit/Delete</th>
            </tr>
          </thead>
          <tbody>
          {% for film in films %}
            <tr>
              <td>{{film.film_name}}</td>
              <td>{{film.film_year}}</td>
              <td>{{film.film_age}}</td>
              <td>{{film.film_genre}}</td>
              <td>{{film.film_description}}</td>
              <td>{{film.film_poster}}</td>
              <td>Edit | <a href="{{url_for('delete_task', task_id=task._id)}}">Done</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endblock %}