{% block film %}
<div class="container-fluid border-bottom">
  <div class="row no-gutter">
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">${movie.Title}</h3>
                <div>
                ${movie.Year} | ${movie.Rating}
                </div>
                <div>
                ${movie.Genre} | ${movie.Runtime}
                </div>
                <div>
                Director : ${movie.Director}
                </div>
                <div>
                ${movie.Plot}
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image">
    <img src="${movie.Poster}">
    </div>

  </div>
</div>
{% endblock %}