{% block filmdisplay %}
<div class="row">
{% for film in films %}
    <div class="col-md-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{film.film_name}} ({{film.film_year}})</h3>
          <div class="mb-1 text-muted">{{film.film_age}}</div>
          <p class="card-text mb-auto">{{film.film_description}}</p>
        </div>
      </div>
    </div>
{% endfor %}
</div>
{% endblock %}