{% block filmform %}
<div class="text-center container">
    <!--Title-->
    <h4 class="mb-3">Add a film</h4>

    <form action="/insertfilm" method="POST">
        <div class="row">
            <!--Film name-->
            <div class="col-md-6 mb-3">
                <label for="filmName">Film name</label>
                <input type="text" class="form-control" id="firstName" name="film_name" placeholder="" value="" required="">
                <div class="invalid-feedback">
                    Valid film title is required.
                </div>
            </div>
            <!--Director name-->
            <div class="col-md-6 mb-3">
                <label for="filmName">Director</label>
                <input type="text" class="form-control" id="filmdirector" name="film_director" placeholder="" value="" required="">
                <div class="invalid-feedback">
                    Valid director name is required.
                </div>
            </div>
            <!--Film description-->
            <div class="col-md-12 mb-3">
                <label for="description">Film Description</label>
                <input type="text" class="form-control" id="description" name="film_description" placeholder="" value="" required="">
                <div class="invalid-feedback">
                    Please enter the description of the film.
                </div>
            </div>
            <!--Film Genre-->
            <div class="col-md-12 mb-3">
                <label for="genre">Genre</label>
                <select class="custom-select d-block w-100" id="film_genre" name="film_genre" required="">
                    <option value="Action">Action</option>
                    <option value="Adventure">Adventure</option>
                    <option value="Anmiation">Animation</option>
                    <option value="Biography">Biography</option>
                    <option value="Comedy">Comedy</option>
                    <option value="Crime">Crime</option>
                    <option value="Documentary">Documentary</option>
                    <option value="Drama">Drama</option>
                    <option value="Fantasy">Fantasy</option>
                    <option value="Historical">Historical</option>
                    <option value="Horror">Horror</option>
                    <option value="Indie">Indie</option>
                    <option value="Musical">Musical</option>
                    <option value="Romance">Romance</option>
                    <option value="Sci-Fi">Sci-Fi</option>
                    <option value="Sports">Sports</option>
                    <option value="Thriller">Thriller</option>
                    <option value="Western">Western</option>
                </select>
                <div class="invalid-feedback">
                    Please select from the dropdown.
                </div>
            </div>
            <!--Film release year-->
            <div class="col-md-4 mb-3">
                <label for="YearofRelease">Year of Release</label>
                <input type="text" class="form-control" id="YearofRelease" name="film_year" placeholder="" value="" required="">
                <div class="invalid-feedback">
                    Valid film title is required.
                </div>
            </div>
            <!--Film Age Rating-->
            <div class="col-md-4 mb-3">
                <label for="agerating">Age Rating</label>
                <select class="custom-select d-block w-100" id="agerating" name="film_age" required="">
                    <option value="U">U</option>
                    <option value="PG">PG</option>
                    <option value="12A">12A</option>
                    <option value="12">12</option>
                    <option value="15">15</option>
                    <option value="18">18</option>
                </select>
                <div class="invalid-feedback">
                    Please select from the dropdown.
                </div>
            </div>
            <!--Film poster-->
            <div class="col-md-4 mb-3">
                <label for="filmposter">Film Poster</label>
                <input type="text" class="form-control" id="filmposter" name="film_poster" placeholder="" value="" required="">
                <div class="invalid-feedback">
                    Valid film poster link is required.
                </div>
            </div>
            <!--Submit button-->
            <div class="text-center">
            <button type="submit" name="action" class="btn btn-primary">Submit</button>

    </div>
</div></form>
</div>
    {% endblock %}