{% block genremodal %}
<div class="col-12 modalbtn">
<a class="text-muted" id="myBtn">Click here to view all genres</a>
</div>
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="row">
    <div class="col-sm-4"><ul>
                    <ol class="col-3">Action</ol>
                <ol class="col-3">Adventure</ol>
                <ol class="col-3">Animation</ol>
                <ol class="col-3">Biography</ol>
                <ol class="col-3">Comedy</ol>
                <ol class="col-3">Crime</ol>
                </ul>
    </div>
    <div class="col-sm-4"><ul>
                <ol class="col-3">Documentary</ol>
                <ol class="col-3">Drama</ol>    
                <ol class="col-3">Fantasy</ol>
                <ol class="col-3">Historical</ol>
                <ol class="col-3">Horror</ol>
                <ol class="col-3">Indie</ol>
                </ul>
    </div>
    <div class="col-sm-4"><ul>

                <ol class="col-3">Musical</ol>
                <ol class="col-3">Romance</ol>
                <ol class="col-3">Sci-Fi</ol>
                <ol class="col-3">Sports</ol>
                <ol class="col-3">Thriller</ol>
                <ol class="col-3">Western</ol>
                </ul></div>
  </div>
</div>
</div>
{% endblock %}