{% block indexslide %}
<div class="slideshow-container col-lg-7">
  <div class="mySlides fade">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/images/headers/header-1.jpg" alt="header-display">
    </div>
<div class="mySlides fade">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/images/headers/header-2.jpg" alt="header-display">
    </div>
    <div class="mySlides fade">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/images/headers/header-3.jpg" alt="header-display">
    </div>
    <div class="mySlides fade">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/images/headers/header-4.jpg" alt="header-display">
    </div>
    <div class="mySlides fade">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/images/headers/header-5.jpg" alt="header-display">
    </div>
    <div class="mySlides fade">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/images/headers/header-6.jpg" alt="header-display">
    </div>
    <div class="mySlides fade">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/images/headers/header-7.jpg" alt="header-display">
    </div>
    <div class="mySlides fade">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/images/headers/header-8.jpg" alt="header-display">
    </div>
    <div class="mySlides fade">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/images/headers/header-9.jpg" alt="header-display">
    </div>
    <div class="mySlides fade">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/images/headers/header-10.jpg" alt="header-display">
    </div>
    <div class="mySlides fade">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/images/headers/header-11.jpg" alt="header-display">
    </div>
</div>
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
  <span class="dot" onclick="currentSlide(5)"></span>
  <span class="dot" onclick="currentSlide(6)"></span>
  <span class="dot" onclick="currentSlide(7)"></span>
  <span class="dot" onclick="currentSlide(8)"></span>
  <span class="dot" onclick="currentSlide(9)"></span>
  <span class="dot" onclick="currentSlide(10)"></span>
  <span class="dot" onclick="currentSlide(11)"></span>
</div>
{% endblock %}