{% block loginmodal %}
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
  <form action="" method="POST">
    <div class="container">
      <input type="text" placeholder="Enter Username" name="username" value="{{
          request.form.username">
      <button type="submit">Login</button>
    </div>
    {% if error %}
        <p class="error"> {{ error }}</p>
    {% endif %}
    <div class="container">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
    </div>
  </form>
</div>

{% endblock %}