{% block about %}
<h1 class="font-weight-light">Sign In</h1>
<p class="text-muted">Please enter username and password</p>
<div class="form-signin">
    <div class="form-label-group header-style">
        <input class="form-control" type="text" placeholder="Enter Username" id="username" name="username">
    </div>
    <div class="form-label-group header-style">
        <input class="form-control" type="password" id="password" name="password" placeholder="Password">
    </div>
    <div class="form-label-group header-style">
        <a class="btn btn-primary btn-info btn-block text-uppercase btn-login" href="{{url_for('userhome')}}">Sign in</a>
    </div>
</div    
{% endblock %}