{% block newarrivals %}
<div class="container">

  <h1 class="font-weight-light text-center text-lg">New Arrivals</h1>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">

    <div class="col-lg-3 col-md-4 col-6">
      <a href="{{url_for('viewfilms')}}" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail new-arrivals" src="static/assets/images/movie-poster/dark-knight.jpg" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="{{url_for('viewfilms')}}" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail new-arrivals" src="static/assets/images/movie-poster/first-man.jpg" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="{{url_for('viewfilms')}}" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail new-arrivals" src="static/assets/images/movie-poster/four-weddings.jpg" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="{{url_for('viewfilms')}}" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail new-arrivals" src="static/assets/images/movie-poster/inception.jpg" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="{{url_for('viewfilms')}}" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail new-arrivals" src="static/assets/images/movie-poster/kiki-delivery.jpg" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="{{url_for('viewfilms')}}" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail new-arrivals" src="static/assets/images/movie-poster/la-la-land.jpg" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="{{url_for('viewfilms')}}" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail new-arrivals" src="static/assets/images/movie-poster/moonlight.jpg" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="{{url_for('viewfilms')}}" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail new-arrivals" src="static/assets/images/movie-poster/pulp-fiction.jpg" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="{{url_for('viewfilms')}}" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail new-arrivals" src="static/assets/images/movie-poster/singin-in-the-rain.jpg" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="{{url_for('viewfilms')}}" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail new-arrivals" src="static/assets/images/movie-poster/sleeping-beauty.jpg" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="{{url_for('viewfilms')}}" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail new-arrivals" src="static/assets/images/movie-poster/spectre.jpg" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="{{url_for('viewfilms')}}" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail new-arrivals" src="static/assets/images/movie-poster/wizard-of-oz.jpg" alt="">
          </a>
    </div>
  </div>
<div class="text-center">
<a type="button" class="btn btn-primary text-center" href="{{url_for('viewfilms')}}">View All Films</a>
</div>
</div>
{% endblock %}