{% block newarrivals %}
<div class="container">

    <h1 class="text-center"><strong>New Arrivals</strong></h1>
    <hr class="hr">
    <div class="row text-center">

        <div class="col-lg-3 col-md-4 col-6">
            
                <img class="img-fluid img-thumbnail new-arrivals" src="static/assets/images/movie-poster/dark-knight.jpg" alt="">
            
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            
                <img class="img-fluid img-thumbnail new-arrivals" src="static/assets/images/movie-poster/first-man.jpg" alt="">
            
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            
                <img class="img-fluid img-thumbnail new-arrivals" src="static/assets/images/movie-poster/four-weddings.jpg" alt="">
            
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            
                <img class="img-fluid img-thumbnail new-arrivals" src="static/assets/images/movie-poster/inception.jpg" alt="">
            
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            
                <img class="img-fluid img-thumbnail new-arrivals" src="static/assets/images/movie-poster/kiki-delivery.jpg" alt="">
            
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            
                <img class="img-fluid img-thumbnail new-arrivals" src="static/assets/images/movie-poster/la-la-land.jpg" alt="">
            
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            
                <img class="img-fluid img-thumbnail new-arrivals" src="static/assets/images/movie-poster/moonlight.jpg" alt="">
            
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            
                <img class="img-fluid img-thumbnail new-arrivals" src="static/assets/images/movie-poster/pulp-fiction.jpg" alt="">
            
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            
                <img class="img-fluid img-thumbnail new-arrivals" src="static/assets/images/movie-poster/singin-in-the-rain.jpg" alt="">
            
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            
                <img class="img-fluid img-thumbnail new-arrivals" src="static/assets/images/movie-poster/sleeping-beauty.jpg" alt="">
            
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            
                <img class="img-fluid img-thumbnail new-arrivals" src="static/assets/images/movie-poster/spectre.jpg" alt="">
            
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            
                <img class="img-fluid img-thumbnail new-arrivals" src="static/assets/images/movie-poster/wizard-of-oz.jpg" alt="">
            
        </div>
    </div>
    <div class="text-center">
        <a class="btn btn-success btn-block text-center" href="#">View All Films</a>
    </div>
</div>
{% endblock %}