{% block newarrivals %}
<div class="container-fluid new-arrivals">
<h2 class="text-center new-arrivals-text">Recently added</h2>
    <div class="hovereffect row recent">
  <div class="col-sm-3">
    <figure><img class="thumbernail" alt="recent-poster" src="static/assets/images/movie-poster/dark-knight.jpg"/></figure>
    <span>Dark Knight</span>
  </div>
  <div class="col-sm-3">
    <figure><img class="thumbernail" alt="recent-poster" src="static/assets/images/movie-poster/first-man.jpg"/></figure>
    <span>First Man</span>
  </div>
  <div class="col-sm-3">
    <figure><img class="thumbernail" alt="recent-poster"src="static/assets/images/movie-poster/four-weddings.jpg"/><figure>
    <span>Four Weddings & A Funeral</span>
  </div>
  <div class="col-sm-3">
    <figure><img class="thumbernail" alt="recent-poster" src="static/assets/images/movie-poster/inception.jpg"/></figure>
    <span>Inception</span>
  </div>
  <div class="col-sm-3">
    <figure><img class="thumbernail" alt="recent-poster" src="static/assets/images/movie-poster/kiki-delivery.jpg"/></figure>
    <span>Kiki's Delivery Service</span>
  </div>
  <div class="col-sm-3">
    <figure><img class="thumbernail" alt="recent-poster" src="static/assets/images/movie-poster/la-la-land.jpg"/></figure>
    <span>La La Land</span>
  </div>
  <div class="col-sm-3">
    <figure><img class="thumbernail" alt="recent-poster" src="static/assets/images/movie-poster/moonlight.jpg"/></figure>
    <span>Moonlight</span>
  </div>
  <div class="col-sm-3">
    <figure><img class="thumbernail" alt="recent-poster" src="static/assets/images/movie-poster/pulp-fiction.jpg"/></figure>
    <span>Pulp Fiction</span>
  </div>
  <div class="col-sm-3">
    <figure><img class="thumbernail" alt="recent-poster" src="static/assets/images/movie-poster/singin-in-the-rain.jpg"/></figure>
    <span>Singin' In The Rain</span>
  </div>
  <div class="col-sm-3">
    <figure><img class="thumbernail" alt="recent-poster" src="static/assets/images/movie-poster/sleeping-beauty.jpg"/></figure>
    <span>Sleeping Beauty</span>
  </div>
  <div class="col-sm-3">
    <figure><img class="thumbernail" alt="recent-poster" src="static/assets/images/movie-poster/spectre.jpg"/></figure>
    <span>Spectre</span>
  </div>
  <div class="col-sm-3">
    <figure><img class="thumbernail" alt="recent-poster" src="static/assets/images/movie-poster/wizard-of-oz.jpg"/></figure>
    <span>Wizard of Oz</span>
  </div>
<a type="button" class="btn btn-outline-info text-center" href="{{url_for('viewfilms')}}">View All Films</a>
</div>
{% endblock %}