{% block reviewdashboard %}
<div class="row">
    {% for review in reviews %}
    <div class="col-md-3">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-0">{{review.film_name}}</h3>
                <div class="mb-1 text-muted">{{review.film_star}}</div>
                <p class="card-text mb-auto">{{review.film_review}}</p>
                <a href="{{url_for('deletereviews', review_id=review._id)}}">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}