{% block reviewsection %}
<div class="container">
<div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Suicide Squad</h4>
      </div>
      <div class="card-body">
        <ul class="row text-center"><ol>
        <i class="fa fa-star index-review"></i></ol><ol><i class="fa fa-star index-review"></i></ol><ol>
        <i class="fa fa-star index-review">
            </i></ol></ul>
      </div>
    </div>
<div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">La La Land</h4>
      </div>
      <div class="card-body">
        <ul class="row text-center"><ol>
        <i class="fa fa-star index-review"></i></ol><ol><i class="fa fa-star index-review"></i></ol><ol>
        <i class="fa fa-star index-review">
            </i></ol><ol><i class="fa fa-star index-review">
            </i></ol></ul>
      </div>
    </div>
</div>
  </div>
    {% endblock %}