{% block reviewsection %}

<div class="container">
    <div class="col-12 text-center">
        <h1 class="font-weight-light text-lg mt-4 mb-0 text-spacing">View Our Reviews</h1>
        <hr class="hr mt-2 mb-5">
        <h3 class="text-spacing">Leave your review and you will be featured on our website. Let other film watchers find out what you think of that film. You could be like one of these reviewers.</h3>
    </div>
    <div class="row">
        <div class="blockquote col-md-4 text-center">
            <h4>Suicide Squad (2016)</h4>
            <p>5 Stars</p>
            <p class="text-muted">This is one of my all time favs, you will like this if you love Harley Quinn and the joker!</p>
        </div>
        <div class="blockquote col-md-4 text-center">
            <h4>Love Rosie (2015)</h4>
            <p>4 Stars</p>
            <p class="text-muted">Great soundtrack and even though the plot has the usual cliches it has some genuinely funny moments that keep you watching until the inevitable conclusion.</p>
        </div>
        <div class="blockquote col-md-4 text-center">
            <h4>Spirited Away (2002)</h4>
            <p>4 Stars</p>
            <p class="text-muted">A stirring and memorable adventure of poetry, color, tones and narrative all in the vividness of animation.</p>
        </div>
    </div>
    <div class="text-center col-12">
        <a class="btn btn-primary btn-success btn-block text-center" href="{{url_for('viewreviews')}}">View Other Reviews</a>
    </div>
</div>
{% endblock %}