{% block reviewdashboard %}
<div class="table-responsive container">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Title</th>
                <th>Star Rating</th>
                <th>Review</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
            <tr>
                <td>{{reviews.film_name}}</td>
                <td>{{reviews.star}}</td>
                <td>{{reviews.review}}</td>
                <td>delete</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}