{% block reviewform %}
<!--Review field-->
<div class="text-center container">
      <h4 class="mb-3">Add a review</h4>
         
      <form class="needs-validation" novalidate="">
<!--title of film-->
 <div class="form-group">
 <label for="filmname">Film Title</label><br>
  <input type="text" id="filmname" name="filmname">
</div>
<!--star rating-->
    <div class="custom-control custom-radio">
      <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked="">
      <label class="custom-control-label" for="customRadio1">5 Stars</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
      <label class="custom-control-label" for="customRadio2">4 Stars</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input" checked="">
      <label class="custom-control-label" for="customRadio3">3 Stars</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
      <label class="custom-control-label" for="customRadio4">2 Stars</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" id="customRadio5" name="customRadio" class="custom-control-input" checked="">
      <label class="custom-control-label" for="customRadio5">1 Star</label>
    </div>
  </div>
<!--text review-->
       <div class="form-group">
      <label for="exampleTextarea">Example textarea</label>
      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>
<!--Submit button-->
<button type="submit" class="btn btn-primary">Submit</button>

        </div>
        {% endblock %}