{% block test %}
<div class="hover08 container-fluid column row">
  <div class="col-3">
    <img src="static/assets/images/movie-poster/dark-knight.jpg" class="figure"/>
    <span>Hover</span>
  </div>
  <div class="col-3">
    <img src="static/assets/images/movie-poster/dark-knight.jpg" class="figure"/>
    <span>Hover</span>
  </div>
  <div class="col-3">
    <img src="static/assets/images/movie-poster/dark-knight.jpg" class="figure"/>
    <span>Hover</span>
  </div>
  <div class="col-3">
    <img src="static/assets/images/movie-poster/dark-knight.jpg" class="figure"/>
    <span>Hover</span>
  </div>
</div>

<div class="row">
    <a href="#" class="column col-sm-3" id="grayscale"><img src="static/assets/images/movie-poster/dark-knight.jpg">
    </a>
    <a href="#" class="column col-sm-3" id="grayscale"><img src="static/assets/images/movie-poster/dark-knight.jpg">
    </a>
    <a href="#" class="column col-sm-3" id="grayscale"><img src="static/assets/images/movie-poster/dark-knight.jpg">
    </a>
    <a href="#" class="column col-sm-3" id="grayscale"><img src="static/assets/images/movie-poster/dark-knight.jpg">
    </a>
</div>
{% endblock %}