{% block test %}
<div class="row">
     <a href="#" class="column col-sm-3" id="grayscale"> <img src="static/assets/images/movie-poster/dark-knight.jpg" id="grayscale" class="thumbernail"></a>
 <a href="#" class="column col-sm-3" id="grayscale"><img src="static/assets/images/movie-poster/first-man.jpg" id="grayscale" class="thumbernail"></a>
<a href="#" class="column col-sm-3" id="grayscale"><img src="static/assets/images/movie-poster/four-weddings.jpg" id="grayscale" class="thumbernail"></a>
<a href="#" class="column col-sm-3" id="grayscale"><img src="static/assets/images/movie-poster/inception.jpg" id="grayscale" class="thumbernail"></a>
<a href="#" class="column col-sm-3" id="grayscale"><img src="static/assets/images/movie-poster/kiki-delivery.jpg" id="grayscale" class="thumbernail"></a>
 <a href="#" class="column col-sm-3" id="grayscale"> <img src="static/assets/images/movie-poster/la-la-land.jpg" id="grayscale" class="thumbernail"></a>
 <a href="#" class="column col-sm-3" id="grayscale"> <img src="static/assets/images/movie-poster/moonlight.jpg" id="grayscale" class="thumbernail"></a>
 <a href="#" class="column col-sm-3" id="grayscale"> <img src="static/assets/images/movie-poster/pulp-fiction.jpg" id="grayscale" class="thumbernail"></a>
 <a href="#" class="column col-sm-3" id="grayscale"> <img src="static/assets/images/movie-poster/singin-in-the-rain.jpg" id="grayscale" class="thumbernail"></a>
 <a href="#" class="column col-sm-3" id="grayscale"> <img src="static/assets/images/movie-poster/sleeping-beauty.jpg" id="grayscale" class="thumbernail"></a>
  <a href="#" class="column col-sm-3" id="grayscale"><img src="static/assets/images/movie-poster/spectre.jpg" id="grayscale" class="thumbernail"></a>
  <a href="#" class="column col-sm-3" id="grayscale"><img src="static/assets/images/movie-poster/wizard-of-oz.jpg" id="grayscale" class="thumbernail"></a>

    <a href="#" class="column col-sm-3" id="grayscale"><img src="static/assets/images/movie-poster/dark-knight.jpg">
    </a>
    <a href="#" class="column col-sm-3" id="grayscale"><img src="static/assets/images/movie-poster/dark-knight.jpg">
    </a>
    <a href="#" class="column col-sm-3" id="grayscale"><img src="static/assets/images/movie-poster/dark-knight.jpg">
    </a>
    <a href="#" class="column col-sm-3" id="grayscale"><img src="static/assets/images/movie-poster/dark-knight.jpg">
    </a>
</div>
{% endblock %}