{% block navbar %}
<footer>
<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Bottom navbar</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('homepage')}}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('viewfilms')}}">Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('viewreviews')}}">Reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('addreviews')}}">Add Review</a>
      </li>
    </ul>
  </div>
</nav>
</footer>
{% endblock %}