{% block navbar %}
<footer>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<!--mini nav bar-->
<div class="col-4 block-1 text-center">
 <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('homepage')}}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('viewfilms')}}">Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('viewreviews')}}">Reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('addreviews')}}">Add Review</a>
      </li>
    </ul>
  </div>
</div>
<!--subscribe-->
<div class="col-4 block-2 text-center">
<div class="form-email">
      <label for="InputEmail">Email address</label>
      <input type="email" class="form-control" id="email-form" aria-describedby="emailHelp" placeholder="Enter your email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
<button type="submit" class="btn btn-primary">Submit</button>
</div>
<!--creator-->
<div class="col-4 block-3 text-center">
    <h4 class="card-title">Review Movies</h4>
    <h6 class="card-subtitle mb-2 text-muted">Data Centric Development</h6>
    <a href="https://github.com/katerinaelsasser/film_review_database">Created by Katerina Elsasser</a>
  </div>
</div>
</nav>
</footer>
{% endblock %}