{% block navbar %}
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <a class="navbar-brand" href="{{url_for('homepage')}}">FRATES</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('homepage')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('viewmovies')}}">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('viewmovies')}}">Add/View Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('login')}}">Login</a>
                </li>
            </ul>
            <div>
            <a class="nav-link" href="{{url_for('login')}}"><i class="fa fa-user usericon"></i></a>
            </div>
        </div>
    </nav>
</header>
{% endblock %}