{% block navbar %}
<header>
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="{{url_for('homepage')}}">FRATES</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#FRATESnavbar" aria-controls="FRATESnavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="FRATESnavbar" style="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('homepage')}}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('viewmovies')}}">Movies</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navdrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reviews</a>
                    <div class="dropdown-menu" aria-labelledby="navdrop">
                        <a class="dropdown-item" href="{{url_for('addreview')}}">Add</a>
                        <a class="dropdown-item" href="{{url_for('viewreviews')}}">View All</a>
                    </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('login')}}">Login</a>
            </li>     
        </ul>
    </div>
</nav>










</header>
{% endblock %}