{% block navbar %}
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <a class="navbar-brand" href="{{url_for('homepage')}}">FRATES</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('homepage')}}">Home</a>
                </li>
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navdrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Movies</a>
                        <div class="dropdown-menu" aria-labelledby="navdrop">
                    <a class="nav-link" href="{{url_for('viewmovies')}}">View</a>
                    <a class="nav-link" href="{{url_for('addmovie')}}">Add</a>
                    <a class="nav-link" href="{{url_for('editmovies')}}">Edit/Delete</a>
</div>
                </li>
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navdrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reviews</a>
                        <div class="dropdown-menu" aria-labelledby="navdrop">
                        <a class="dropdown-item" href="{{url_for('addreview')}}">Add</a>
                        <a class="dropdown-item" href="{{url_for('userreviews')}}">Delete</a>
                        <a class="dropdown-item" href="{{url_for('userreviews')}}">View All</a>

                        </div>
                    </li>
            </ul>
        </div>
    </nav>
</header>
{% endblock %}