{% block usernavbar %}
<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="{{url_for('homepage')}}">Movie Reviews</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="usernavbar" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('homepage')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('viewfilms')}}">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('viewreviews')}}">Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('addreviews')}}">Add Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('login')}}">Login</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{{url_for('addfilm')}}">Add Films</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('editfilms')}}">Edit Films</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('deletefilms')}}">Delete Films</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('deletereviews')}}">Delete Reviews</a>
                    </li>
            </ul>
        </div>
    </nav>
</header>

{% endblock %}